.info-btn {
    color: #444;
}

* {
    font-size: 12px;
}

.toggle-row {
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.db-params-wrapper {
    padding: 10px;
    background: #426bad;
}

.db-params-header {
    margin-bottom: 10px;
    font-weight: bold;
}