<div class="server-row-container {{tomcat.type}}" fxLayout="column">
  <div class="content-row" fxLayout="row" fxFlex="100">
    <div fxFlex="5" fxLayoutAlign="start center">
      <button class="info-btn" type="button" *ngIf="tomcat.databaseParams"
        (click)="toggle()">Info</button>
    </div>
    <div fxFlex="20" fxLayoutAlign="start center">{{tomcat.deploymentPath}}</div>
    <div fxFlex="25" fxLayoutAlign="start center">{{tomcat.version}}</div>
    <div fxFlex="10" fxLayoutAlign="start center">{{tomcat.modified}}</div>
    <div fxFlex="17" fxLayoutAlign="center start" fxLayout="column" fxLayoutGap="5px">
      <span *ngFor="let url of tomcat.URL">
        <a target="_blank" [href]="url">{{url}}</a>
      </span>
    </div>
    <div fxFlex="5" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
      <span *ngFor="let url of tomcat.URL">
        <a target="_blank" href="{{url}}/logs">logs</a>
      </span>
    </div>
    <div fxFlex="8" fxLayoutAlign="center center">
      <div [ngClass]="tomcat.isRunning ? 'online' : 'offline'"></div>
    </div>
    <div fxFlex="8" fxLayoutAlign="center center" fxLayout="row">
      <button *ngIf="!tomcat.isRunning" (click)="startServer(tomcat)" class="button">start</button>
      <button *ngIf="tomcat.isRunning" (click)="stopServer(tomcat)" class="button">stop</button>
    </div>
  </div>
  <div class="toggle-row" *ngIf="showToggleRow" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
    <div class="db-params-wrapper">
      <p class="db-params-header">Datenbankparameter:</p>
      <p *ngFor="let param of dbParamsList"> {{param}} </p>
    </div>

    <div class="metabase-status-wrapper" *ngIf="metabaseParamsList.length > 0" fxLayout="row">
      <div class="metabase-params-list">
        <p class="metabase-status-header">Metabase Status-Informationen:</p>
        <p *ngFor="let param of metabaseParamsList"> {{param}} </p>
      </div>

      <div fxLayoutAlign="center center" class="metabase-running-icon">
        <div [ngClass]="isMetabaseRunning ? 'online' : 'offline'"></div>
      </div>

      <div fxLayoutAlign="center center">
        <button *ngIf="!isMetabaseRunning" (click)="startMetabaseServer(tomcat)" class="button">start</button>
        <button *ngIf="isMetabaseRunning" (click)="stopMetabaseServer(tomcat)" class="button">stop</button>
      </div>
    </div>

  </div>
</div>