<p>jfakjsdfjalkjslkdfjjasjdfjlöksadfj</p>
<div class="server" *ngFor="let server of serverList">
  <h1>Serverstatus zu {{server.serverIp}}</h1>

  <div class="content" fxLayoutAlign="column">
    <div class="content-row" fxLayoutAlign="row">
        <th >  </th>
        <th class="fixed250Column">Umgebung</th>
        <th class="fixed250Column">Version</th>
        <th>Modified</th>
        <th class="fixed250Column">URL</th>
        <th>Logs</th>
        <th>Status</th>
        <th>Misc</th>
      <div *ngFor="let tomcat of server.tomcatList">
        <app-server-row [tomcat]="tomcat"></app-server-row>
      </div>
    </table>
  </div>
</div>
