<div class="server" *ngFor="let server of serverList">
  <h1>Serverstatus zu {{server.serverIp}}</h1>

  <div class="content">
    <table>
      <tr>
        <th class="fixed225Column">Umgebung</th>
        <th class="fixed225Column">Version</th>
        <th>Modified</th>
        <th class="fixed225Column">URL</th>
        <th>Logs</th>
        <th>Status</th>
        <th>Misc</th>
      </tr>
      <tr *ngFor="let tomcat of server.tomcatList">
        <td class="fixed225Column">{{tomcat.deploymentPath}}</td>
        <td class="fixed225Column">{{tomcat.version}}</td>
        <td>{{tomcat.modified}}</td>
        <td class="fixed225Column">
          <ul>
            <li *ngFor="let url of tomcat.URL">
              <a target="_blank" href="{{url}}">{{url}}</a>
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let url of tomcat.URL">
              <a target="_blank" href="{{url}}/logs">logs</a>
            </li>
          </ul>
        </td>
        <td><div [ngClass]="tomcat.isRunning ? 'online' : 'offline'"></div></td>
        <td>
          <button *ngIf="!tomcat.isRunning" (click)="startServer( tomcat )" class="button">start</button>
          <button *ngIf="tomcat.isRunning" (click)="stopServer( tomcat )" class="button">stop</button>
        </td>
      </tr>
    </table>
  </div>
</div>
